<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{bundle.titulo}</title>
    </h:head>
    <h:body>
        <h:form>

            <p:growl id="pgErrores"/>
            <p:panel header="#{bundle.titulo} #{beanVolquetas.listaSE.contarNodos()}" id="pnlVolqueta">
                <center>
                    <p:panelGrid columns="2" id="pnlDatos">

                        <p:outputLabel value="#{bundle.marca}" for="hitMarca"/>
                        <p:inputText id="hitMarca" disabled="#{beanVolquetas.deshabilitarNuevo}"
                                     value="#{beanVolquetas.volquetaMostrar.dato.marca}" required="true"/>

                        <p:outputLabel value="#{bundle.capacidad}" for="hitCapacidad"/>
                        <p:spinner id="spEdad" required="true" min="1" max="2" 
                                   value="#{beanVolquetas.volquetaMostrar.dato.capacidad}"  
                                   disabled="#{beanVolquetas.deshabilitarNuevo}"/>

                        <p:outputLabel value="#{bundle.tipoCarga}" for="hitTipodeCarga"/>
                        <p:inputText id="hitTipodeCarga" disabled="#{beanVolquetas.deshabilitarNuevo}"
                                     value="#{beanVolquetas.volquetaMostrar.dato.tipoCarga}" required="true"/>

                    </p:panelGrid>

                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Marca "/>
                        </f:facet>
                        <p:outputLabel value="#{fila.marca}"/>
                    </p:column>
                   
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Capacidad "/>
                        </f:facet>
                        <p:outputLabel value="#{fila.capacidad}"/>
                    </p:column>
                     <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Tipo de Carga "/>
                        </f:facet>
                        <p:outputLabel value="#{fila.tipoCarga}"/>
                    </p:column>
                   

                    <h:panelGroup layout="block">
                        <p:commandButton value="#{bundle.btnPrimero}" action="#{beanVolquetas.irAlPrimero()}"
                                         update="@all"/>
                        <p:commandButton value="#{bundle.btnSiguiente}" action="#{beanVolquetas.irAlSiguiente()}"
                                         update="@all"/>
                        <p:commandButton value="#{bundle.btnUltimo}"/>
                        <p:commandButton value="#{bundle.btnNuevo}" action="#{beanVolquetas.habilitarCrearVolquetas()}"
                                         rendered="#{beanVolquetas.deshabilitarNuevo}"
                                         update="pnlVolqueta"/>
                        <p:commandButton value="#{bundle.btnGuardarInicio}" action="#{beanVolquetas.guardarVolquetaAlInicio()}" update="@all"
                                         rendered="#{!beanVolquetas.deshabilitarNuevo}"/>
                        
                        <p:commandButton value="#{bundle.btnGuardarFinal}" action="#{beanVolquetas.guardarVolquetaAlFinal()}" update="@all"
                                         rendered="#{!beanVolquetas.deshabilitarNuevo}"/>
                        <p:commandButton value="#{bundle.btnCalcularMayor}" action="#{beanVolquetas.calVolqueCapaMayor()}" update="@all"
                                         rendered="#{!beanVolquetas.deshabilitarNuevo}"/>
                        <p:commandButton value="#{bundle.btnCalcularPromedio}" action="#{beanVolquetas.calcularVolquetaPromedioCapacidad()}" update="@all"
                                         rendered="#{!beanVolquetas.deshabilitarNuevo}"/>

                        
                        <p:commandButton value="#{bundle.btnCancelar}" 
                                         action="#{beanVolquetas.cancelarGuardado()}"
                                         rendered="#{!beanVolquetas.deshabilitarNuevo}"
                                         immediate="true" update="@all" 
                                         >
                        </p:commandButton>


                        <p:commandButton value="Ver tabla" action="#{beanVolquetas.visualizarTabla()}"
                                         rendered="#{beanVolquetas.deshabilitarNuevo}" update="pnlVolqueta" />

                        
                        

                    </h:panelGroup>


                </center>
            </p:panel>

        </h:form>
    </h:body>
</html>

